services:
  database:
    image: mongo:latest
    container_name: note-thing-mongo
    volumes:
      - mongo_data:/data/db
    environment:
      MONGODB_DATABASE: ${MONGO_DB}
      MONGODB_USER: ${MONGO_USER}
      MONGODB_PASSWORD: ${MONGO_PASSWORD}
    networks:
      - app_net
  nats:
    image: nats:latest
    container_name: note-thing-nats
    ports:
      - "4222:4222"
    volumes:
      - nats_data:/data
    networks:
      - app_net

volumes:
  mongo_data:
    name: ${MONGO_VOLUME_NAME}
    external: true
  nats_data:
    name: ${NATS_VOLUME_NAME}
    external: true

networks:
  app_net:
    name: ${NETWORK_NAME}
    external: true

include:
  - path: services/sync/docker-compose.yml
    env_file: .env
  - path: services/ai-processor/docker-compose.yml
    env_file: .env
  - path: services/interaction/docker-compose.yml
    env_file: .env
  - path: services/delivery/docker-compose.yml
    env_file: .env
