services:
  sync:
    build: .
    container_name: note-thing-sync
    restart: unless-stopped
    environment:
      - MONGO_HOST=${MONGO_HOST}
      - MONGO_PORT=${MONGO_PORT}
      - MONGO_DB=${MONGO_DB}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - EXPORT_DIR=${EXPORT_DIR}
      - JOPLIN_SYNC_TARGET_ID=${JOPLIN_SYNC_TARGET_ID}
      - JOPLIN_SERVER_URL=${JOPLIN_SERVER_URL}
      - JOPLIN_SERVER_EMAIL=${JOPLIN_SERVER_EMAIL}
      - JOPLIN_SERVER_PASSWORD=${JOPLIN_SERVER_PASSWORD}
    volumes:
      - ./App:/App
      - ./scripts:/scripts
      - ./crontab:/etc/cron.d/sync-cron-source
      - files_data:/data
    networks:
      - app_net
    depends_on:
      - database
      - nats

volumes:
  files_data:
    name: ${FILES_VOLUME_NAME}
    external: true

networks:
  app_net:
    name: ${NETWORK_NAME}
    external: true
